<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Welcome to <%= title %><br><br><a href="/portfolios">Portfolio Panel</a><br> <a href="/resume">Resume Panel </a></p>
  </body>
</html>