
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact Listing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " href="/dashboard">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/portfolios">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/resume">Resume</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Contact Listing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/">Log Out</a>
      </li>
  </ul>
<body class="container" style="margin-top: 50px;">

    <div class="card"> 
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-pill active">
                    <a class="nav-link">Contact Listing</a>
                </li>
                
            </ul>
        </div>
    <div class="card-body">
        
        <% if(data.length) { %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">email</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i< data.length; i++) { %>
                <tr>
                    <th scope="row"><%= (i+1) %></th>
                    <td><%= data[i].name%></td>
                    <td><%= data[i].email%></td>
                    <td><%= data[i].message%></td>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>
        
        <!-- if result is empty -->
        <% if(!data.length) { %>
            <p class="text-center">No one left you a message!</p>
        <% } %>

        </div>
    </div>

</body>
</html>